data/
**/__pycache__/
**/.ipynb_checkpoints/

robust_compression/plots*
robust_compression/mnist_classifiers/
robust_compression/wcd_cert/

robust_compression/trained_robust_wass_ball/*
!robust_compression/trained_robust_wass_ball/ae_c_d10L12gamma0.36.pt

robust_compression/trained_standard/*
!robust_compression/trained_standard/ae_c_d10L12.pt

**/adversarialbox_old/

structured_compression/plots/
structured_compression/plots_rotations/
structured_compression/wcd_cert/
structured_compression/saved_results/

structured_compression/trained_structured_wass_ball/*
!structured_compression/trained_structured_wass_ball/ae_c_d3-7L12gamma0.36.pt

structured_compression/trained_rotations2/*
!structured_compression/trained_rotations2/ae_c_d2-8L12rotated_global.pt
!structured_compression/trained_rotations2/ae_c_d2-8L12rotated_global_partial.pt